<div class="ibox float-e-margins">
  <div class="ibox-title">
    <div class="row">
      <div class="col-md-9">
        <h1>Matrices en accion</h1>
        <p class="full-width">
          <small>
            Me fume una lumpia jajaja. La formula de prediccion es<br>
            <strong>X[n] = X[n-1]^2 + X[n-2]^2  + Ruido-aleatorio para n >= 2</strong>
          </small>
        </p>
      </div>
      <div class="col-md-3 m-t-sm" ng-init="vm.selectedIndex = 0">
        <div class="pull-right">
          <p>(Hice una pequeña mejora en la velocidad.)</p>
          <span class="pull-right">
            <label> Indice </label>
            <input class="" type="number" min="0" max="4" ng-model="vm.selectedIndex" ng-change="vm.onChangeIndex()">
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="ibox-content">
    <div style="width: 100%">
      <div class="full-width" style="display: flex; justify-content: flex-end">
        <input type="checkbox" ng-model="vm.showSetOperation" >
        <label> Set operation </label>
        <!-- <select class="m-l-xs" ng-model="vm.operation" ng-disabled="!vm.showSetOperation" ng-change="vm.onOperationChange()">
          <option value="symmetricDifference" title="Diferencia simetrica">DS</option>
          <option value="union" title="Union">U</option>
        </select>
        <span class="pull-left">
          <strong>{{ vm.operation }}</strong>
        </span> -->
      </div>
      <div ng-repeat="result in vm.data">
        <div style="display: flex; justify-content: flex-start; align-items: center">
          <array-view title="Anterior" array="result.prevSort"></array-view>
          <array-view title="Siguiente" array="result.nextSort"></array-view>          
          <array-view title="Posiciones" array="result.positions[vm.selectedIndex]"></array-view>
          <array-view ng-if="!vm.showSetOperation" title="Numeritos" array="result.flatNumeros[vm.selectedIndex]"></array-view> 
          <div ng-if="vm.showSetOperation" style="display: flex; flex-wrap: wrap; width: 56px; height: 56px; background-color: red;">
            <div ng-repeat="block in result.binaryArray[ vm.selectedIndex ] track by $index" style="width: 14px; height: 14px; background: {{!block ? 'black' : 'blue'}}"></div>
          </div>
          <div ng-if="result.SetOperation && vm.showSetOperation" style="margin-left: 10px; display: flex; flex-wrap: wrap; width: 56px; height: 56px; background-color: red;">
            <div ng-repeat="block in result.SetOperation track by $index" style="width: 14px; height: 14px; background: {{!block ? 'black' : result.binaryArray[ vm.selectedIndex ][$index] == block ? 'red' : 'blue'}}"></div>
          </div>
        </div>
      </div>      
    </div>
  </div>
</div>