<div class="form-group m-t-md text-center">
  <label class="checkbox-inline m-r-xs">
    <div class="icheckbox_square-green" style="position: relative">
      <input icheck type="checkbox" ng-model="vm.histogram">
    </div>
    Histograma
  </label>        
  <label class="checkbox-inline m-r-xs">
    <div class="icheckbox_square-green" style="position: relative">
      <input icheck type="checkbox" ng-model="vm.showMeans"> 
    </div>
    Medias
  </label>  
  <label class="checkbox-inline m-r-xs">
    <div class="icheckbox_square-green" style="position: relative">
      <input icheck type="checkbox" ng-model="vm.showLegend">
    </div>
    Leyenda
  </label>  
</div>