<div class="row">
  <div class="col-md-12 m-t-md">
    <label class="checkbox-inline m-r-xs" ng-repeat="label in vm.labels">
        <input 
          type="checkbox" 
          ng-model="vm.selection[$index]" 
          ng-disabled="vm.disabledIndexes[$index]"
          ng-click="vm.update()"
        >
      {{label}}
    </label>
    <label class="checkbox-inline m-r-xs">
      <input 
        type="checkbox" 
        ng-model="vm.mixed" 
        ng-click="vm.update()"
      >
      Separar
    </label> 
  </div>
</div>